@import "tailwindcss";

@theme {
  --color-primary: #ab7442;
  --color-primary-hover: hsl(29, 36%, 54%);
  --color-primary-ring: hsl(29, 95%, 78%);
  --color-hero-back: rgba(0, 0, 0, 0.3);
}

@layer components {
  .btn-primary {
    @apply bg-primary w-full h-15 text-white font-bold hover:bg-primary-hover;
  }

  .text-input {
    @apply bg-white border border-gray-300 h-13 px-3 focus:outline-none focus:ring-2 ring-primary-ring;
  }

  .content-title {
    @apply text-4xl font-bold text-gray-800 lg:text-6xl;
  }

  .text-area {
    @apply bg-white border border-gray-300 p-2 w-full h-20 focus:outline-none focus:ring-2 ring-primary-ring;
  }
}
